:root {
  --light_gray: hsl(212, 45%, 89%);
  --grayish_blue: hsl(220, 15%, 55%);
  --dark_blue: hsl(218, 44%, 22%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light_gray);
  font-family: 'Outfit', sans-serif;
  transition: all 0.5s;
}
main {
  background-color: white;
  width: 16.5em;
  min-height: 25.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  object-fit: cover;
  border-radius: 20px;
  transition: all 0.5s;
  padding: 1em;
}
img {
  border-radius: 10px;
  height: 62.5%;
  width: 100%;
}
.lightdark {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
#light-img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
  transition: all 0.5s;
  cursor: pointer;
}
.glow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: white;
  box-shadow: 0 0 10px gray;
}
h1 {
  color: var(--dark_blue);
  font-size: 18px;  
  text-align: center;
  font-weight: 700;
  transition: all 0.5s;
}
span {
  text-align: center;
  color: var(--grayish_blue);
  transition: all 0.5s;
  font-size: 14px;
  font-weight: 400;
}