@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-position: bottom;
}
.container {
    background-color: white;
    width: 30vw;
    height: 70vh;
    margin: auto auto auto 35%;
    padding: 5% auto;
    border-radius: 20px;
}
.img {
    width: 90%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    margin: 5% auto;
    object-position: center;
}
h1 {
    color: hsl(218, 44%, 22%);
    font-family: outfit;
    font-size: 50px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    font-weight: 700;
}
.apart {
    text-align: center;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    margin: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    margin: 10% auto;
    padding: 10px;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
.center {
    text-align: center;
}
.attribution {
    display: flex;
    justify-content: center;
    margin: 65% 30% 5% -30%;
    text-align: center;
}